DirtyPrice = ''
CleanPrice = ''
Accrued_Interest = ''
DirtyPercentage = ''
CleanPercentage = ''



if request.method == 'POST' and 'yield' in request.form and 'face_value' in request.form and 'maturity_date' in request.form and 'settlementdate' in request.form and 'tenor' in request.form and 'coupon_rate' in request.form:
        yield_to_Maturity = float(request.form.get('yield'))
        yield_to_Maturity = yield_to_Maturity / 100
        Face_Value = int(request.form.get('face_value'))
        Maturity_date = datetime.strptime((request.form.get('maturity_date')), "%Y-%m-%d")
        Settlement_date = datetime.strptime((request.form.get('settlementdate')), "%Y-%m-%d")
        Tenor = int(request.form.get('tenor'))
        Coupon_rate = float(request.form.get('coupon_rate'))
        Coupon_rate = Coupon_rate / 100
        Ajusted_Yield_Maturity = yield_to_Maturity / 2
        Days_Between_Issue_And_Maturity = Tenor * 364
        Effective_issue_Date = (Maturity_date) - timedelta(days=Days_Between_Issue_And_Maturity)
        Days_To_Maturity = Maturity_date - Settlement_date
        days_between = (Settlement_date - Effective_issue_Date)
        No_of_Half_Years_Btn_Issue_Maturity = (days_between / 182)
        days = No_of_Half_Years_Btn_Issue_Maturity.days + No_of_Half_Years_Btn_Issue_Maturity.seconds // 86400
        sec = No_of_Half_Years_Btn_Issue_Maturity + timedelta(days=1)
        sec_days = sec.days + sec.seconds // 86400
        starter = timedelta()

        for i in range(1, 183):
            starter += timedelta(days=sec_days)

        Next_interest_Payment_Date = Effective_issue_Date + starter
        hlf_years_btn_dealnnextInterestPaymentDate = (Next_interest_Payment_Date - Settlement_date) / 182
        Yrs_D_Interest = hlf_years_btn_dealnnextInterestPaymentDate.total_seconds()
        Yrs_D_Interest = Yrs_D_Interest / 86400
        half_btn_next_intdatenMat = (Maturity_date - Next_interest_Payment_Date) / 182
        IntDateAndMature = half_btn_next_intdatenMat.days + half_btn_next_intdatenMat.seconds // 86400
        OnePlusU = Ajusted_Yield_Maturity ** -1 * (1 - (1 + Ajusted_Yield_Maturity) ** -IntDateAndMature) + 1
        Dc = (Face_Value * Coupon_rate / 2) * (OnePlusU / (1 + Ajusted_Yield_Maturity) ** Yrs_D_Interest)
        Dp = Face_Value / (1 + Ajusted_Yield_Maturity) ** (Yrs_D_Interest + IntDateAndMature)
        DirtyPrice = round(Dc + Dp, 4)
        Accrued_Interest = round((Face_Value * Coupon_rate / 2) * (1 - Yrs_D_Interest), 4)
        CleanPrice = round(DirtyPrice - Accrued_Interest, 4)
        DirtyPercentage = round((DirtyPrice / Face_Value) * 100, 2)
        CleanPercentage = round((CleanPrice / Face_Value) * 100, 2)





        <div align = "center">
            {% if DirtyPrice %}
            <p>DirtyPrice : {{DirtyPrice}}</p>
        
            {%endif%}
        
            {% if CleanPrice %}
            <p>CleanPrice : {{CleanPrice}}</p>
        
            {%endif%}
        
            {% if Accrued_Interest %}
             <p2>Accrued Interest : {{Accrued_Interest}}</p2>
            {% endif %}
        
            {% if DirtyPercentage %}
            <p>Dirty Price (%) : {{DirtyPercentage}}</p>
        
            {%endif%}
        
            {% if CleanPercentage %}
            <p>Clean Price (%) : {{CleanPercentage}}</p>
        
            {%endif%}    
        
        {% endblock %}
        </div>

        <!-- <div class="col">
        <form  action="/home" method="POST">
  <div class="mb-2">
        <label for="desired_price" class="form-label">Desired Price:</label>
        <input type="text" name="desired_price" class="form-control">
        </div>
  <button type="submit" class="btn btn-primary" name="findyield">Yield</button>
    </form> -->

    <!-- <div class="col">

    </div>
    {% if yield_to %}
    <p>yield_to : {{yield_to}}</p>
     
    {% endif %}

    </div>   -->